form {
    border: 1px solid #000;
    border-radius: 16px;
    margin: auto;
    margin-block: 16px;
    padding: 16px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
